@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg-color: #f9fafb; /* gray 50 */
  --main-text-color: #374151; /* gray 700 */
  --chevron-color: #374151; /* gray 700 */
  --chevron-hover-color: #111827; /* gray 900 */
}
.input-box {
  @apply w-full border-2 border-blue-300  rounded  py-2 px-4  !important;
}
.card {
  @apply rounded border-gray-200 shadow-md overflow-hidden;
}
.dashboard-tile {
  @apply text-xl  overflow-y-auto rounded-lg bg-white p-6 shadow-lg;
}

/*  quill for notes */
.container .ql-editor {
  width: 8.25in;
  min-height: 11.75in;
  max-height: 11.75in;
  padding: 2cm;
  margin: 2cm;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  background-color: white;
}

.container .ql-snow {
  border: none;
  display: flex;
  justify-content: center;
}

.container .ql-toolbar.ql-snow {
  display: flex;

  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #f3f3f3;
  border: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

@page {
  size: A4;
}

@media print {
  .container {
    background: none;
  }

  .container .ql-editor {
    /* width: 6.25in;
    height: 9.75in; */
    padding: 0;
    margin: 0;
    box-shadow: none;
    align-self: flex-start;
  }

  .container .ql-toolbar.ql-snow,
  .navbar,
  .clientinfo {
    display: none;
  }
}
/* /////////////Modal///////////////// */

.custom-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 93%;
  height: 93%;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 40;
}

 {
  /*------------overriding Bootstrap-------*/
}
.btn-primary,
.btn-success,
/* .btn-secondary, */
.btn-danger {
  @apply bg-gray-700 border-gray-700  !important;
}
 {
  /*-----------overriding forms io style sheet----------*/
}
.formio-component-submit {
  @apply mt-10 !important;
}

 {
  /*-------overriding menu component style---------------*/
}
.rc-menu {
  @apply bg-gray-800 rounded-md mt-4 -ml-3 !important;
}
.rc-menu__item {
  @apply bg-gray-800 rounded-md mt-4 text-white !important;
}
 {
  /*---------overriding menu builder--------*/
}

.rst__row {
  @apply rounded-r-md !important;
}
.rst__moveHandle {
  @apply bg-gray-700 rounded-l-md overflow-hidden !important;
}

.rst__placeholder {
  @apply h-52 w-full bg-gray-200 rounded-lg !important;
}
 {
  /*-----------pagination------------*/
}
.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #2b2eff;
  color: #2b2eff;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #2b2eff;
}

.paginationActive a {
  color: white;
  background-color: #2b2eff;
}

.paginationDisabled a {
  color: grey;
  background-color: grey;
}
 {
  /*---------image map-------------*/
}

.image-map__content {
  @apply relative w-full max-h-screen !important;
}
.image-map__content__img {
  @apply w-full max-h-screen !important;
}
.image-map__content .image-map__map {
  @apply absolute !important;
}
